@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-sm: 480px;
  --breakpoint-sm-md: 600px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 1279px;
  --breakpoint-2xl: 1535px;

  /* Colors */
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-black-87: rgba(0, 0, 0, 0.87);
  --color-custom-gray: #1f1f1f;

  /* Fonts */
  --font-google-sans: "Google Sans", "Google Sans Text", "Roboto", "Arial", "sans-serif";

  /* Font Sizes */
  --text-1-5xl: 22px;
  --text-1-5xl--line-height: 30px;
  --text-4-5xl: 44px;
  --text-4-5xl--line-height: 1;

  /* Custom Widths */
  --width-device-select-box-sm: calc(100vw - 160px);
  --width-device-select-box-sm-md: calc(100vw - 320px);
  --width-setting-content-md: calc(100vw - 112px);

  @keyframes move-bottom-up {
    0% { opacity: 1; transform: translateY(100%); }
    70% { opacity: 1; transform: translateY(-355%); }
    80% { opacity: 0.8; transform: translateY(-420%); }
    100% { opacity: 0; transform: translateY(-520%); }
  }
  --animate-move-bottom-up: move-bottom-up 3s linear forwards;

  @keyframes slide-in-bottom {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
  }
  --animate-slide-in-bottom: slide-in-bottom 0.3s ease forwards;

  @keyframes slide-in-left {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
  }
  --animate-slide-in-left: slide-in-left 0.3s ease forwards;

  @keyframes slide-out-left {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0); }
  }
  --animate-slide-out-left: slide-out-left 0.3s ease forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
